:root {
  --spacing: 200px;
  --bgWidth: 4000px;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

body {
  margin: 0;
  padding: 0;
  font-family:'Montserrat','Gill Sans', 'Gill Sans MT', Helvetica, Arial, sans-serif;
  font-style: normal;
}

p {
  color:#76c0ea;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

a {color:#76c0ea;
}

a:hover {color:#004d95;
transition: color 1s ease-in-out;
}

h1 {
  font-size:60px;
  margin: 0%;
  text-align:left;
}

h4{color: #ffffff;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

strong{color:#76c0ea;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

#container {
  /* overflow: hidden; */
  width: 100vw;
}

#sky {
  background: #92e5f8;
  height: 50vh;
  width: var(--bgWidth);
  position: relative;
  left: 0;
}

.cloud {
  position: absolute;
  height: 120px;
  width: 500px;
}

.cloud-text1 {
  background-image: url('Assets/BG-assets/cloud-text.png');
  background-size: contain;
  height: 180px;
  width: 350px;
  padding: 15px 10px 10px 40px;
  left: 100px;
  box-sizing: border-box;
  z-index: 1;
}

.cloud-text2 {
  background-image: url('Assets/BG-assets/cloud-text.png');
  background-size: contain;
  height: 180px;
  width: 350px;
  padding: 8px 10px 10px 50px;
  left: 700px;
  box-sizing: border-box;
  z-index: 3;
}
.cloud-text3 {
  background-image: url('Assets/BG-assets/cloud-text.png');
  background-size: contain;
  height: 180px;
  width: 350px;
  padding: 5px 10px 10px 40px;
  left: 1300px;
  box-sizing: border-box;
  z-index: 3;
}
.cloud-bg {
  background-size: contain;
  height: 124px;
  width: 344px;
}

.cloud-bg:nth-of-type(1) {
  left: 600px;
  top: 30px;
}

.cloud-bg:nth-of-type(2) {
  left: 620px;
  top: 20px;
  transform: scale(.5) scaleX(-1);
}

.cloud-bg:nth-of-type(3) {
  left: 1800px;
  top: 20px;
}

#character {
  background-image: url('renny-slides2.png');
  height: 200px;
  width: 200px;
  position: absolute;
  top: calc(70vh - 140px);
}

#character.walkForwards { 
  animation: walkForwards .5s steps(2) forwards;
}

#character.jumpForwards { 
  animation: jumpForwards .5s steps(5) forwards,
              jumpUp .5s forwards;

}

#character.walkBackwards { 
  background-position-y: 200px;
  animation: walkBackwards .5s steps(2) forwards;
}

@keyframes walkForwards {
  from { background-position-x: 0px; }
  to { background-position-x: -400px; }
}

@keyframes walkBackwards {
  from { background-position-x: -400px; }
  to { background-position-x: 0px; }
}

@keyframes jumpForwards {
  from { background-position-x: -600px; }
  to { background-position-x: -1600px; }
}

@keyframes jumpUp {
  0% { transform: translate(0,0); }
  50% { transform: translate(0,-100px); }
  100% { transform: translate(0,0); }
}

#main-heading{color:#004d95;
    background: #92e5f8;
    animation: color-change 5s infinite;
    text-align:  left;
    padding: 8px 40px;
    font-size: 4vw;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    width: 4000px;
}
@keyframes color-change {
  0% { color: #76c0ea; }
  50% { color: orange; }
  100% { color: red; }  
}

.ground {
  height: 50vh;
  width: var(--bgWidth);
  position: absolute;
  top: 50vh;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
}

.ground-top {
  background-color: #91CEAA;
  height: 50%;
  width: 4000px;
  top: 50vh;
  display: block;
}

.ground-road-container {
  width: 4000px;
}

.ground-road {
  background-image: url('Assets/BG-assets/road-square_1.png');
  background-repeat: repeat-x;
  background-size: contain;
  height: 70px;
  width: 4000px;
  margin: 0;
}

.ground-bottom {
  background-color: #57A577;
  height: 50%;
  width: 4000px;
  display: block;
  z-index: 1;
}