:root {
  --spacing: 200px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  overflow: hidden;
  width: 100vw;
}

#sky {
  background: #92e5f8;
  height: 50vh;
  width: 4000px;
  position: relative;
  left: 0;
}

.cloud {
  position: absolute;
  /* background: white; */
  /* border-radius: 20%; */
  height: 120px;
  width: 500px;
}

.cloud-text {
  background-image: url(Assets/BG-assets/cloud-main.png);
  background-size: contain;
  height: 124px;
  width: 344px;
  padding: 20px 10px;
  left: 200px;
  box-sizing: border-box;
  z-index: 1;
}

.cloud-bg {
  background-image: url('Assets/BG-assets/cloud-main.png');
  background-size: contain;
  height: 124px;
  width: 344px;
}

.cloud-group {
  background-image: url('Assets/BG-assets/four-clouds.png');
  background-size: contain;
  height: 266px;
  width: 830px;
}

.cloud-group:nth-of-type(1) {
  left: 800px;
  top: 0px;
  transform: scale(.5);
}

.cloud-bg:nth-of-type(1) {
  left: 600px;
  top: 20px;
}

.cloud-bg:nth-of-type(2) {
  left: 1400px;
  top: 20px;
  transform: scale(.5) scaleX(-1);
}

.cloud-bg:nth-of-type(3) {
  left: 1800px;
  top: 20px;
}

#character {
  background-image: url('renny-slides2.png');
  height: 200px;
  width: 200px;
  position: absolute;
  top: calc(70vh - 175px);
}

#character.walkForwards { 
  animation: walkForwards .5s steps(2) forwards;
}

#character.jumpForwards { 
  animation: jumpForwards .5s steps(5) forwards,
              jumpUp .5s forwards;

}

#character.walkBackwards { 
  background-position-y: 200px;
  animation: walkBackwards .5s steps(2) forwards;
}

@keyframes walkForwards {
  from { background-position-x: 0px; }
  to { background-position-x: -400px; }
}

@keyframes walkBackwards {
  from { background-position-x: -400px; }
  to { background-position-x: 0px; }
}

@keyframes jumpForwards {
  from { background-position-x: -600px; }
  to { background-position-x: -1600px; }
}

@keyframes jumpUp {
  0% { transform: translate(0,0); }
  50% { transform: translate(0,-100px); }
  100% { transform: translate(0,0); }
}


a {color:#76c0ea;
}

a:hover {color:#004d95;
transition: color 1s ease-in-out;
}

#main-heading{color:#004d95;
    background: #92e5f8;
    animation: color-change 5s infinite;
    font-size: 4vw;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}
@keyframes color-change {
  0% { color: #76c0ea; }
  50% { color: orange; }
  100% { color: red; }  
}

body{
    font-family:'Montserrat','Gill Sans', 'Gill Sans MT', Helvetica, Arial, sans-serif;
    font-style: normal;
  }
h4{color: #ffffff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
p{color:#76c0ea;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
   }
strong{color:#76c0ea;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
body{
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size:60px;
  margin-block: 0%;
  text-align:center;
}
p{color:#76c0ea;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
 }